<div class="card-deck container" *ngIf="weatherForecast.length > 0">
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="text-light">{{ weatherForecast[1].date | date: "EEE" }}</p>
      <p class="text-light">
        {{ weatherForecast[1].minTemperature }}/{{
          weatherForecast[1].maxTemperature
        }}&deg;
      </p>
    </div>
  </div>
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="text-light">{{ weatherForecast[2].date | date: "EEE" }}</p>
      <p class="text-light">
        {{ weatherForecast[2].minTemperature }}/{{
          weatherForecast[2].maxTemperature
        }}&deg;
      </p>
    </div>
  </div>
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="text-light">{{ weatherForecast[3].date | date: "EEE" }}</p>
      <p class="text-light">
        {{ weatherForecast[3].minTemperature }}/{{
          weatherForecast[3].maxTemperature
        }}&deg;
      </p>
    </div>
  </div>
</div>
