<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-3">Invoice</h4>
      <form class="needs-validation" [formGroup]="form">
        <div class="row align-items-end">
          <div class="col-md-2 mb-3">
            <label>Invoice Number</label>
            <input
              type="text"
              class="form-control"
              placeholder=""
              readonly="readonly"
              formControlName="number"
            />
          </div>
          <div class="col-md-2 mb-3">
            <label>Net</label>
            <input
              type="number"
              class="form-control"
              formControlName="net"
              (change)="onChangeNet()"
            />
          </div>
          <div class="col-md-2 mb-3">
            <label>% Tax</label>
            <select
              class="custom-select d-block w-100"
              formControlName="percentageTax"
              (change)="onChangeTax()"
            >
              <option *ngFor="let tax of percentageTaxes" [ngValue]="tax">{{
                tax
              }}</option>
            </select>
          </div>
          <div class="col-md-2 mb-3">
            <label>Total</label>
            <input
              type="text"
              class="form-control"
              readonly="readonly"
              formControlName="total"
            />
          </div>

          <div class="col-sm-1 mb-3">
            <button
              class="btn btn-outline-primary align-text-bottom"
              type="button"
              aria-expanded="true"
              (click)="onAdd()"
            >
              Add
            </button>
          </div>

          <div class="col-sm-1 mb-3">
            <button
              class="btn btn-outline-danger align-text-bottom"
              type="button"
              aria-expanded="true"
              (click)="onClear()"
            >
              Clear
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Invoice Number</th>
                  <th>Net</th>
                  <th>% Tax</th>
                  <th>Tax</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let invoice of invoices; let i = index">
                  <td>{{ invoice.number }}</td>
                  <td>
                    {{ invoice.net | currency: "$":"symbol":"4.2-5":"es-Ar" }}
                  </td>
                  <td>{{ invoice.percetangeTax }}</td>
                  <td>{{ invoice.tax }}</td>
                  <td>
                    {{ invoice.total | currency: "$":"symbol":"4.2-5":"es-Ar" }}
                  </td>
                  <td>
                    <span class="badge badge-danger" (click)="onRemove(i)"
                      >Remove</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block" (click)="onProcess()">
          Process and Continue
        </button>
      </form>
    </div>
  </div>
  <app-weather-widget></app-weather-widget>
</div>
