<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-3">Invoice Summary</h4>
        <div class="row">
          <div class="col-md-12 mb-3">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Invoice Number</th>
                  <th>Net</th>
                  <th>% Tax</th>
                  <th>Tax</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let invoice of invoices; let i = index">
                  <td>{{ invoice.number }}</td>
                  <td>{{ invoice.net | currency:'$':'symbol':'4.2-5':'es-Ar' }}</td>
                  <td>{{ invoice.percetangeTax }}</td>
                  <td>{{ invoice.tax }}</td>
                  <td>{{ invoice.total | currency:'$':'symbol':'4.2-5':'es-Ar'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <button class="btn btn-danger btn-lg btn-block" (click)="onDeleteWork()">
          Delete Work
        </button>

    </div>
  </div>
</div>
